* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_3 {
  width: 100%;
  height: 3781px;
  background: rgba(250,250,250,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v225_9480 {
  width: 100%;
  height: 3737px;
  background: url("../images/v225_9480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 32px;
  overflow: hidden;
}
.v225_9479 {
  width: 100%;
  height: 3737px;
  background: url("../images/v225_9479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v225_9478 {
  width: 100%;
  height: 3737px;
  background: url("../images/v225_9478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v200_2868 {
  width: 100%;
  height: 3737px;
  background: url("../images/v200_2868.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 120px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v200_2867 {
  width: 100%;
  height: 1370px;
  background: url("../images/v200_2867.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 340px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v200_2861 {
  width: 100%;
  height: 656px;
  background: url("../images/v200_2861.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 220px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v77_938 {
  width: 100%;
  height: 344px;
  background: url("../images/v77_938.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 107px;
  overflow: hidden;
}
.v54_705 {
  width: 100%;
  height: 340px;
  background: url("../images/v54_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  overflow: hidden;
}
.v54_706 {
  width: 13px;
  height: 13px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 1091px;
}
.v54_707 {
  width: 28px;
  height: 44px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 1058px;
}
.v54_708 {
  width: 38px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 1025px;
}
.v54_709 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 1004px;
}
.v54_710 {
  width: 29px;
  height: 51px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 981px;
}
.v54_711 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 962px;
}
.v54_712 {
  width: 26px;
  height: 57px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 941px;
}
.v54_713 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 922px;
}
.v54_714 {
  width: 41px;
  height: 57px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 886px;
}
.v54_715 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 866px;
}
.v54_716 {
  width: 37px;
  height: 41px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 835px;
}
.v54_717 {
  width: 37px;
  height: 41px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 804px;
}
.v54_718 {
  width: 43px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 767px;
}
.v54_719 {
  width: 53px;
  height: 55px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 718px;
}
.v54_720 {
  width: 51px;
  height: 65px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 648px;
}
.v54_721 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 607px;
}
.v54_722 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 567px;
}
.v54_723 {
  width: 17px;
  height: 23px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 517px;
}
.v54_724 {
  width: 31px;
  height: 58px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 488px;
}
.v54_725 {
  width: 38px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 456px;
}
.v54_726 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 414px;
}
.v54_727 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 374px;
}
.v54_728 {
  width: 26px;
  height: 57px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 352px;
}
.v54_729 {
  width: 53px;
  height: 55px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 305px;
}
.v54_730 {
  width: 17px;
  height: 23px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 265px;
}
.v54_731 {
  width: 41px;
  height: 48px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 226px;
}
.v54_732 {
  width: 26px;
  height: 57px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 204px;
}
.v54_733 {
  width: 53px;
  height: 55px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 156px;
}
.v54_734 {
  width: 43px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 128px;
}
.v54_735 {
  width: 38px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 94px;
}
.v54_736 {
  width: 53px;
  height: 55px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 45px;
}
.v54_737 {
  width: 41px;
  height: 51px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 1117px;
}
.v54_738 {
  width: 43px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 1078px;
}
.v54_739 {
  width: 36px;
  height: 61px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 1056px;
}
.v54_740 {
  width: 67px;
  height: 61px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 974px;
}
.v54_741 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 939px;
}
.v54_742 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 920px;
}
.v54_743 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 880px;
}
.v54_744 {
  width: 52px;
  height: 60px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 834px;
}
.v54_745 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 820px;
}
.v54_746 {
  width: 37px;
  height: 41px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 789px;
}
.v54_747 {
  width: 38px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 756px;
}
.v54_748 {
  width: 46px;
  height: 57px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 714px;
}
.v54_749 {
  width: 31px;
  height: 58px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 655px;
}
.v54_750 {
  width: 37px;
  height: 41px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 624px;
}
.v54_751 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 605px;
}
.v54_752 {
  width: 52px;
  height: 60px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 558px;
}
.v54_753 {
  width: 38px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 531px;
}
.v54_754 {
  width: 29px;
  height: 51px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 507px;
}
.v54_755 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 466px;
}
.v54_756 {
  width: 35px;
  height: 44px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 436px;
}
.v54_757 {
  width: 29px;
  height: 51px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 411px;
}
.v54_758 {
  width: 46px;
  height: 62px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 370px;
}
.v54_759 {
  width: 52px;
  height: 47px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 290px;
}
.v54_760 {
  width: 52px;
  height: 60px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 244px;
}
.v54_761 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 230px;
}
.v54_762 {
  width: 37px;
  height: 41px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 199px;
}
.v54_763 {
  width: 38px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 166px;
}
.v54_764 {
  width: 68px;
  height: 62px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 97px;
}
.v54_765 {
  width: 78px;
  height: 63px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
}
.v54_766 {
  width: 28px;
  height: 61px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 867px;
}
.v54_767 {
  width: 51px;
  height: 47px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 815px;
}
.v54_768 {
  width: 46px;
  height: 57px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 774px;
}
.v54_769 {
  width: 25px;
  height: 56px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 753px;
}
.v54_770 {
  width: 40px;
  height: 40px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 719px;
}
.v54_771 {
  width: 67px;
  height: 40px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 656px;
}
.v54_772 {
  width: 46px;
  height: 39px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 616px;
}
.v54_773 {
  width: 46px;
  height: 62px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 574px;
}
.v54_774 {
  width: 73px;
  height: 47px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 478px;
}
.v54_775 {
  width: 17px;
  height: 23px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 461px;
}
.v54_776 {
  width: 40px;
  height: 60px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 418px;
}
.v54_777 {
  width: 17px;
  height: 23px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 371px;
}
.v54_778 {
  width: 30px;
  height: 63px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 343px;
}
.v54_779 {
  width: 80px;
  height: 63px;
  background: rgba(244,155,178,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 270px;
}
.v54_630 {
  width: 100%;
  height: 344px;
  background: url("../images/v54_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v54_631 {
  width: 17px;
  height: 17px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 1091px;
}
.v54_632 {
  width: 32px;
  height: 48px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 1058px;
}
.v54_633 {
  width: 42px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 1026px;
}
.v54_634 {
  width: 28px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 1005px;
}
.v54_635 {
  width: 28px;
  height: 55px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 982px;
}
.v54_636 {
  width: 27px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 962px;
}
.v54_637 {
  width: 28px;
  height: 61px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 941px;
}
.v54_638 {
  width: 28px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 922px;
}
.v54_639 {
  width: 40px;
  height: 61px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 887px;
}
.v54_640 {
  width: 28px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 866px;
}
.v54_641 {
  width: 35px;
  height: 45px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 835px;
}
.v54_642 {
  width: 40px;
  height: 45px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 804px;
}
.v54_643 {
  width: 47px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 767px;
}
.v54_644 {
  width: 52px;
  height: 59px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 718px;
}
.v54_645 {
  width: 55px;
  height: 69px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 648px;
}
.v54_646 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 607px;
}
.v54_647 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 567px;
}
.v54_648 {
  width: 21px;
  height: 27px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 517px;
}
.v54_649 {
  width: 35px;
  height: 62px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 488px;
}
.v54_650 {
  width: 37px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 456px;
}
.v54_651 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 414px;
}
.v54_652 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 374px;
}
.v54_653 {
  width: 28px;
  height: 61px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 352px;
}
.v54_654 {
  width: 53px;
  height: 59px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 305px;
}
.v54_655 {
  width: 21px;
  height: 27px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 311px;
  left: 265px;
}
.v54_656 {
  width: 45px;
  height: 52px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 226px;
}
.v54_657 {
  width: 28px;
  height: 61px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 204px;
}
.v54_658 {
  width: 53px;
  height: 59px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 156px;
}
.v54_659 {
  width: 41px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 128px;
}
.v54_660 {
  width: 37px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 94px;
}
.v54_661 {
  width: 52px;
  height: 59px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 284px;
  left: 45px;
}
.v54_662 {
  width: 45px;
  height: 55px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 1117px;
}
.v54_663 {
  width: 47px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 1078px;
}
.v54_664 {
  width: 40px;
  height: 65px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 1056px;
}
.v54_665 {
  width: 71px;
  height: 65px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 974px;
}
.v54_666 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 940px;
}
.v54_667 {
  width: 27px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 921px;
}
.v54_668 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 880px;
}
.v54_669 {
  width: 51px;
  height: 64px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 834px;
}
.v54_670 {
  width: 28px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 820px;
}
.v54_671 {
  width: 35px;
  height: 45px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 789px;
}
.v54_672 {
  width: 42px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 757px;
}
.v54_673 {
  width: 48px;
  height: 61px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 714px;
}
.v54_674 {
  width: 35px;
  height: 62px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 655px;
}
.v54_675 {
  width: 35px;
  height: 45px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 625px;
}
.v54_676 {
  width: 29px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 605px;
}
.v54_677 {
  width: 51px;
  height: 64px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 558px;
}
.v54_678 {
  width: 37px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 531px;
}
.v54_679 {
  width: 28px;
  height: 55px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 507px;
}
.v54_680 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 467px;
}
.v54_681 {
  width: 34px;
  height: 48px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 148px;
  left: 436px;
}
.v54_682 {
  width: 33px;
  height: 55px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 411px;
}
.v54_683 {
  width: 50px;
  height: 66px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 370px;
}
.v54_684 {
  width: 56px;
  height: 51px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 290px;
}
.v54_685 {
  width: 51px;
  height: 64px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 244px;
}
.v54_686 {
  width: 28px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 230px;
}
.v54_687 {
  width: 35px;
  height: 45px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 199px;
}
.v54_688 {
  width: 42px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 166px;
}
.v54_689 {
  width: 72px;
  height: 66px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 97px;
}
.v54_690 {
  width: 82px;
  height: 67px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 0px;
}
.v54_691 {
  width: 31px;
  height: 65px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 867px;
}
.v54_692 {
  width: 55px;
  height: 51px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 815px;
}
.v54_693 {
  width: 48px;
  height: 61px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 774px;
}
.v54_694 {
  width: 28px;
  height: 60px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 753px;
}
.v54_695 {
  width: 39px;
  height: 44px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 719px;
}
.v54_696 {
  width: 66px;
  height: 44px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 656px;
}
.v54_697 {
  width: 45px;
  height: 43px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 616px;
}
.v54_698 {
  width: 50px;
  height: 66px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 574px;
}
.v54_699 {
  width: 77px;
  height: 51px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 478px;
}
.v54_700 {
  width: 21px;
  height: 27px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 461px;
}
.v54_701 {
  width: 44px;
  height: 64px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 418px;
}
.v54_702 {
  width: 21px;
  height: 27px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 371px;
}
.v54_703 {
  width: 34px;
  height: 67px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 344px;
}
.v54_704 {
  width: 84px;
  height: 67px;
  background: rgba(226,117,145,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 270px;
}
.v200_2858 {
  width: 100%;
  height: 374px;
  background: url("../images/v200_2858.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 996px;
  left: 32px;
  overflow: hidden;
}
.v23_1828 {
  width: 100%;
  color: url("../images/v23_1828.png");
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Merriweather;
  font-weight: Black;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v38_568 {
  width: 100%;
  height: 294px;
  background: url("../images/v38_568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v200_2866 {
  width: 100%;
  height: 1886px;
  background: url("../images/v200_2866.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 56px;
  opacity: 1;
  position: absolute;
  top: 1490px;
  left: 32px;
  overflow: hidden;
}
.v45_571 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Merriweather;
  font-weight: Black;
  font-size: 56px;
  opacity: 1;
  text-align: center;
}
.v200_2865 {
  width: 100%;
  height: 1760px;
  background: url("../images/v200_2865.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  overflow: hidden;
}
.v200_2862 {
  width: 100%;
  height: 560px;
  background: url("../images/v200_2862.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v200_2863 {
  width: 100%;
  height: 560px;
  background: url("../images/v200_2863.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 600px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v200_2864 {
  width: 100%;
  height: 560px;
  background: url("../images/v200_2864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 1200px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v225_9470 {
  width: 776px;
  height: 241px;
  background: url("../images/v225_9470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3496px;
  left: 300px;
  overflow: hidden;
}
.v113_711 {
  width: 776px;
  height: 241px;
  background: url("../images/v113_711.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v112_680 {
  width: 772px;
  color: rgba(226,117,145,1);
  position: absolute;
  top: 0px;
  left: 2px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v113_710 {
  width: 166px;
  height: 181px;
  background: url("../images/v113_710.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 305px;
  overflow: hidden;
}
.v113_709 {
  width: 166px;
  height: 113px;
  background: url("../images/v113_709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v107_650 {
  width: 166px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 80px;
  left: 0px;
  font-family: Genty;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v107_653 {
  width: 166px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 103px;
  left: 0px;
  font-family: Merriweather;
  font-weight: Black;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v113_708 {
  width: 144px;
  height: 10px;
  background: url("../images/v113_708.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 137px;
  left: 11px;
  overflow: hidden;
}
.v112_687 {
  width: 40px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v112_699 {
  width: 10px;
  background: url("../images/v112_699.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 48px;
  border: 1px solid rgba(26,26,26,1);
}
.v112_694 {
  width: 26px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 56px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v112_696 {
  width: 10px;
  background: url("../images/v112_696.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 90px;
  border: 1px solid rgba(26,26,26,1);
}
.v112_700 {
  width: 46px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 0px;
  left: 98px;
  font-family: Merriweather;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v113_701 {
  width: 166px;
  color: rgba(26,26,26,1);
  position: absolute;
  top: 171px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 6px;
  opacity: 1;
  text-align: center;
}
